<h1>What's in the MySQL Database?</h1>

<p>{{results}}</p>

<div id="tblCont">

</div>
<div id="up">

</div>
<div id="down">

</div>
<div id="left">

</div>
<div id="right">


</div>
<div id="select">

</div>

<script src="myScript.js">
</script>
