<!doctype html>
<html>
<head>
        <title>Arthur Shing</title>
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>

</head>
<body>
        {{{body}}}
</body>
</html>
